# TOPIC: String Based Assignment Problem

In [29]:
# 1. Reverse the string.

txt=input("Enter YOur String : ")
rev_txt=txt[: : -1]       # step value -1 will reverse the string and start and stop wil take from last to first character
print("Reverse String is : ",rev_txt)

Enter YOur String :  Manifest

Reverse String is :  tsefinaM

In [31]:
# 2. check if a string is a palindrome

txt=input("Enter YOur String : ")
rev_txt=txt[: : -1]
if txt==rev_txt:
    print("String is Palindrome")
else:
    print("String is not Palindrome")

Enter YOur String :  satis

String is not Palindrome

In [32]:
# 3. convert a string uppercase 

txt=input("Enter YOur String : ")

print(txt.upper())

Enter YOur String :  Vikas Singh

VIKAS SINGH

In [33]:
# 4. convert a string uppercase 

txt=input("Enter YOur String : ")

print(txt.lower())

Enter YOur String :  Vikas SINGH

vikas singh

In [34]:
# 5.count the number of vowels in a program

txt=input("Enter YOur String : ")
vow=0
for i in txt:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U":
        vow=vow+1
print("number of vowels : ",vow)

Enter YOur String :  Nothing is Forever

number of vowels :  6

In [38]:
# 6.count the number of consonent in a program

txt=input("Enter YOur String : ")
cons=0
for i in txt:
    if i!="a" and i!="e" and i!="i" and i!="o" and i!="u" and i!="A" and i!="E" and i!="I" and i!="O" and i!="U" and i!=" ":
        cons=cons+1
print("number of consonent : ",cons)

Enter YOur String :  Everything is Nothing

number of consonent :  13

In [50]:
# 7. Remove all whitespaces from a string.

txt=input("Enter Your String : ")
new_txt=""
for i in txt:
    if i!=" ":
        new_txt=new_txt+i
print("String without spaces  " ,new_txt)

Enter Your String :  Vikas Singh

String without spaces   VikasSingh

In [51]:
# 8. find the length without using len() function.

txt=input("Enter YOur String : ")

count=0
for i in txt:
    count=count+1

print("Length is = ",count)

Enter YOur String :  Vikas Singh

Length is =  11

In [54]:
# 9. check if a string contains a specific word.

txt=input("Enter YOur String : ")
word=input("Enter a word : ")

if word in txt:
    print("this word is exist in this string")
else:
    print("this word is not exist in this string")

Enter YOur String :  Honesty is the best policy
Enter a word :  best

this word is exist in this string

In [56]:
# 10. Replace a word in a string with another word.

txt=input("Enter YOur String : ")
word_to=input("Enter word to replace ")
word_with=input("Enter word with replace ")
x=txt.replace(word_to,word_with)

print(x)

Enter YOur String :  honesty is the best policy
Enter word to replace  best
Enter word with replace  excellent

honesty is the excellent policy

In [64]:
# 11. Count the occurrences of a word in a string.

txt=input("Enter YOur String : ")
word=input("Enter Word to count ")
# Method 1 : using count
print(txt.count(word))

# Method 2: using split
x=txt.split(" ")
count=0
for i in x:
    if i == word:
        count=count+1
print(count)

Enter YOur String :  dream is not that which we see after sleeping, dream is that which dont let us sleep
Enter Word to count  dream

2
2

In [67]:
# 12. Find the first occurrence of a word in a string.

txt=input("Enter YOur String : ")
word=input("Enter Word to count ")

print(txt.index(word))

Enter YOur String :  he is she but she is not he
Enter Word to count  is

3

In [68]:
# 13. Find the last occurrence of a word in a string.

txt=input("Enter YOur String : ")
word=input("Enter Word to count ")
print(txt.rindex(word))

Enter YOur String :  he is she but she is not he
Enter Word to count  is

18

In [71]:
# 14. Split a string into a list of words.

txt=input("Enter YOur String : ")
print(txt.split(" "))

Enter YOur String :  honesty is the best policy

['honesty', 'is', 'the', 'best', 'policy']

In [73]:
# 15 . Join a list of words into a string.

words=["honesty","is","the","best","policy"]

txt=" ".join(words)

print(txt)

honesty is the best policy

In [74]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.


txt=input("Enter YOur String : ")

print("-".join(txt.split(" ")))

Enter YOur String :  honesty is the best policy

honesty-is-the-best-policy

In [75]:
# 17. Check if a string starts with a specific word or phrase

txt=input("Enter YOur String : ")
word=input("Enter Word to check ")

print(txt.startswith(word))

Enter YOur String :  honesty is the best policy
Enter Word to check  honesty

True

In [77]:
# 18. Check if a string ends with a specific word or phrase.
txt=input("Enter YOur String : ")
word=input("Enter Word to check ")

print(txt.endswith(word))

Enter YOur String :  honesty is the best policy
Enter Word to check  policy

True

In [78]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

txt=input("Enter YOur String : ")

print(txt.title())

Enter YOur String :  Honesty is the best policy

Honesty Is The Best Policy

In [93]:
# 20. Find the longest word in a string.

txt=input("Enter YOur String : ")

# Method 1 : using comparison of lenght of all the words
x=txt.split()
y=0
n=""
for i in x:
    if len(i)>y:
        y=len(i)
        if len(i)>len(n):
            n=i
print(n)



# Method 2 : using new list of all word's lenght

x=txt.split()
new=[]
for i in x:
    new.append(len(i))
m=max(new)
print(x[new.index(m)])

Enter YOur String :  Honesty is the best policy

Honesty
Honesty

In [97]:
# 21. Find the shortest word in a string

txt=input("Enter YOur String : ")
x=txt.split()
y=len(x[0])
n=x[0]
for i in x:
    if len(i)<y:
        y=len(i)
        if len(i)<len(n):
            n=i
print(n)

Enter YOur String :  honesty is the best policy

is

In [102]:
# 22. Reverse the order of words in a string.

txt=input("Enter YOur String : ")

print(" ".join(txt.split()[::-1]))

Enter YOur String :  honesty is the best policy

policy best the is honesty

In [105]:
# 23. Check if a string is alphanumeric.

txt=input("Enter YOur String : ")

print(txt.isalnum())

Enter YOur String :  vikas123

True

In [110]:
# 24. Extract all digits from a string.
txt=input("Enter YOur String : ")

for i in txt:
    if ord(i)>47 and ord(i)<58:
        print(i,end="")

Enter YOur String :  Vikas123

123

In [113]:
# 25. Extract all alphabets from a string.

txt=input("Enter YOur String : ")

for i in txt:
    if (ord(i)>63 and ord(i)<92) or (ord(i)>96 and ord(i)<123) :
        print(i,end="")

Enter YOur String :  vikas123

vikas

In [116]:
# 26. Count the number of uppercase letters in a string.


txt=input("Enter YOur String : ")
up=0
for i in txt:
    if i.isupper():
        up=up+1
print(up)

Enter YOur String :  Honesty is The best Policy

3

In [117]:
# 27. Count the number of uppercase letters in a string.


txt=input("Enter YOur String : ")
up=0
for i in txt:
    if i.islower():
        up=up+1
print(up)

Enter YOur String :  honesty Is the Best Policy

19

In [118]:
# 27. Count the number of uppercase letters in a string.


txt=input("Enter YOur String : ")

print(txt.swapcase())

Enter YOur String :  Honesty is The Best Policy

hONESTY IS tHE bEST pOLICY

In [120]:
# 29. Remove a specific word from a string.

txt=input("Enter YOur String : ")
word=input("Enter word to remove ")

print(txt.replace(word,""))

Enter YOur String :  honesty is the best policy
Enter word to remove  best

honesty is the  policy

In [123]:
# 30 Check if a string is a valid email address

import re

txt=input("Enter YOur String : ")

regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'    # Regular Expression for email id

if(re.fullmatch(regex, txt)):
    print("Valid Email id")
else:
    print("Not Valid Email id")

Enter YOur String :  singh@gmail.com

Valid Email id

In [124]:
# 31. Extract the username from an email address string.

txt=input("Enter YOur String : ")

regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

if(re.fullmatch(regex, txt)):
    print(txt.split("@")[0])
else:
    print("Not Valid Email id")

Enter YOur String :  singh@gmal.com

singh

In [125]:
# 32. Extract the domain name from an email address string

# 31. Extract the username from an email address string.

txt=input("Enter YOur String : ")

regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

if(re.fullmatch(regex, txt)):
    print(txt.split("@")[1])
else:
    print("Not Valid Email id")

Enter YOur String :  singh@gmail.com

gmail.com

In [132]:
# 33. Replace multiple spaces in a string with a single space.

txt=input("Enter YOur String : ")

print(" ".join(txt.split()))

Enter YOur String :     Vikas     Singh

Vikas Singh

In [135]:
# 34: . Check if a string is a valid URL.
import re
txt=input("Enter YOur String : ")

#Regular Expression for URL
regex = r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))"
if(re.fullmatch(regex, txt)):
    print("Valid URL")
else:
    print("Not Valid URL")

Enter YOur String :  https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles

Valid URL

In [7]:
# Method 1 : using split method
txt=input("Enter YOur String : ")
protocol=txt.split(":")
print(protocol[0])

# method 2 : using Regular Expression

import re  
protocol = re.findall('(\w+)://', txt)
print(protocol[0])

Enter YOur String :  https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles

https
https

In [16]:
# 36. Find the frequency of each character in a string.

txt=input("Enter YOur String : ")

# method 1 : Using if else and dictionary
dct={}
for i in txt:
    if i in dct:
        dct[i]=dct[i]+1
    else:
        dct[i]=1

print(str(dct))

# method 2 : using loop and dictionary
dct={}
for i in txt:
    dct[i]=dct.get(i,0)+1
print(str(dct))

# method 3 : using reduce and lambda function
from functools import reduce
count = dict(reduce(lambda a, b: {**a, b: a.get(b, 0) + 1}, txt, {}))
print(str(count))

# method 4 : using collection 

from collections import Counter
count=Counter(txt)
print(count)

Enter YOur String :  vikas isngh

{'v': 1, 'i': 2, 'k': 1, 'a': 1, 's': 2, ' ': 1, 'n': 1, 'g': 1, 'h': 1}
{'v': 1, 'i': 2, 'k': 1, 'a': 1, 's': 2, ' ': 1, 'n': 1, 'g': 1, 'h': 1}
{'v': 1, 'i': 2, 'k': 1, 'a': 1, 's': 2, ' ': 1, 'n': 1, 'g': 1, 'h': 1}
Counter({'i': 2, 's': 2, 'v': 1, 'k': 1, 'a': 1, ' ': 1, 'n': 1, 'g': 1, 'h': 1})

In [23]:
# 37. Remove all punctuation from a string
# method 1 : using string translation
import string
txt=input("Enter YOur String : ")
txt = txt.translate(str.maketrans('', '', string.punctuation))
print(txt)

# Method 2 : using replace by string.puncuation
for i in string.punctuation:
    txt.replace(i,"")
print(txt)

# Method 3 : Using Regular Expression
import re
txt = re.sub(r'[^\w\s]', '', txt)
print(txt)

# Method 4 : using punctuation testing
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
res="" 
for i in txt:
    if i not in punc:
        res+=i
print(res)

# Method 5 : using alphabet testing
alpha = '''ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz '''
res="" 
for i in txt:
    if i in alpha:
        res+=i
print(res)

# Method 6 : using Ascii value
res="" 
for i in txt:
    if ord(i)>63 and ord(i)<92 or ord(i)>96 and ord(i)<123 or i==" ":
        res+=i
print(res)

# Method 7 : using filter function
result = ''.join(filter(lambda x: x.isalpha() or x.isdigit() or x.isspace(), txt))
print(result)

Enter YOur String :  vika,s: s;singh """;.,

vikas ssingh
vikas ssingh
vikas ssingh
vikas ssingh
vikas ssingh
vikas ssingh
vikas ssingh

In [26]:
# 38. Check if a string contains only digits.
txt=input("Enter YOur String : ")
print(txt.isdigit())

Enter YOur String :  234

True

In [28]:
# 39. Check if a string contains only alphabet.
txt=input("Enter YOur String : ")
print(txt.isalpha())

Enter YOur String :  vikas3

False

In [29]:
# 40. Convert a string to a list of characters.
txt=input("Enter YOur String : ")
print(list(txt))

Enter YOur String :  vikas

['v', 'i', 'k', 'a', 's']

In [32]:
# 41. Check if two strings are anagrams.

txt1=input("Enter Your First String : ")
txt2=input("Enter Your Second String : ")

# Method 1: using collection counter
from collections import Counter
if Counter(txt1)==Counter(txt2):
    print("String is Anagram ")
else:
    print("Not Anagram ")

# Method 2: using sorted method
if sorted(txt1)==sorted(txt2):
    print("String is Anagram ")
else:
    print("Not Anagram ")

Enter Your First String :  vikas
Enter Your Second String :  sikav

String is Anagram
String is Anagram

In [51]:
# 42. Encode a string using a Caesar cipher

txt=input("Enter YOur String : ")
sh=int(input("Enter shifting limit : "))
result = ""
for i in range(len(txt)):
    char = txt[i]
    if (char.isupper()):
        result += chr((ord(char) + sh-65) % 26 + 65)
    else:
        result += chr((ord(char) + sh-97) % 26 + 97) 
print (result)

Enter YOur String :  vikas
Enter shifting limit :  5

anpfx

In [52]:
# 43. Decode a Caesar cipher encoded string

txt=input("Enter YOur String : ")
sh=int(input("Enter shifting limit : "))
result = ""
for i in range(len(txt)):
    char = txt[i]
    if (char.isupper()):
        result += chr((ord(char) - sh-65) % 26 + 65)
    else:
        result += chr((ord(char) - sh-97) % 26 + 97) 
print (result)

Enter YOur String :  anpfx
Enter shifting limit :  5

vikas

In [69]:
# 44. Find the most frequent word in a string.

txt=input("Enter YOur String : ")
x=txt.split()
d={}
for i in x:
    d[i]=d.get(i,0)+1
print(list(d.keys())[list(d.values()).index(max(list(d.values())))])

Enter YOur String :  he is good but she is bad

is

In [74]:
# 45. Find all unique words in a string.

# Method 1 : Using loop and dictionary
txt=input("Enter YOur String : ")
x=txt.split()
d={}
for i in x:
    d[i]=d.get(i,0)+1
print(str(d))
for i in list(d.values()):
    if i==1:
        print(list(d.keys())[list(d.values()).index(i)])
        del d[list(d.keys())[list(d.values()).index(i)]]

# Method 2 : Using set method to remove duplicate only
print("Remove Duplicate Only ")
x=set(txt.split())

for i in x:
    print(i)

Enter YOur String :  he is good but she is bad

{'he': 1, 'is': 2, 'good': 1, 'but': 1, 'she': 1, 'bad': 1}
he
good
but
she
bad
Remove Duplicate Only
she
he
but
is
good
bad

In [2]:
# 46. Count the number of syllables in a string.

txt=input("Enter YOur String : ")
# Method 1 :  using the count method
print(txt.count("-") + 1)

# Method 2 : using split
print(len(txt.split("-")))

Enter YOur String :  Ram-Singh

2
2

In [36]:
# 47. Check if a string contains any special characters

txt=input("Enter Your String : ")

# Method 1 : Using regular expression
import re
regex = re.compile('[@_!#$%^&*()<>?/\|}{~:;]')
if(regex.search(txt) == None):
    print("String is accepted")
else:
    print("String is not accepted.")

# Method 2 : Using membership operator

sp='[@_!#$%^&*()<>?/\|}{~:;]'
x=0
for i in txt:
    if i in sp:
        break
    else:
        x=x+1
if x==len(txt):
    print("String is Accepted")
else:
    print("String is not Accepted")

Enter Your String :  vikas;

String is not accepted.
String is not Accepted

In [39]:
# 48. Remove the nth word from a string.

txt=input("Enter Your String : ")
nth=int(input("Enter nth value to remove the word"))
new=txt.split()
new.pop(nth-1)
txt=" ".join(new)
print(txt)

Enter Your String :  honesty is the best policy
Enter nth value to remove the word 3

honesty is best policy

In [42]:
# 49. Insert a word at the nth position in a string.

txt=input("Enter Your String : ")
nth=int(input("Enter nth value to insert the word : "))
word=input("Enter the word to input : ")
new=txt.split()
new.insert(nth-1,word)

txt=" ".join(new)
print("Final String is : ",txt)

Enter Your String :  honesty is best policy
Enter nth value to insert the word :  3
Enter the word to input :  the

Final String is :  honesty is the best policy

In [55]:
# 50. Convert a CSV string to a list of lists.

import csv 
with open('sample.csv', 'r') as read_obj: 
    csv_reader = csv.reader(read_obj,delimiter=",") 
    list_of_csv = list(csv_reader) 
    print(list_of_csv)

[['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment'], ['1077501', '1296599', '5000', '5000', '4975', ' 36 months', '10.65%', '162.87'], ['1077430', '1314167', '2500', '2500', '2500', ' 60 months', '15.27%', '59.83'], ['1077175', '1313524', '2400', '2400', '2400', ' 36 months', '15.96%', '84.33'], ['1076863', '1277178', '10000', '10000', '10000', ' 36 months', '13.49%', '339.31'], ['1075358', '1311748', '3000', '3000', '3000', ' 60 months', '12.69%', '67.79'], ['1075269', '1311441', '5000', '5000', '5000', ' 36 months', '7.90%', '156.46'], ['1069639', '1304742', '7000', '7000', '7000', ' 60 months', '15.96%', '170.08'], ['1072053', '1288686', '3000', '3000', '3000', ' 36 months', '18.64%', '109.43'], ['1071795', '1306957', '5600', '5600', '5600', ' 60 months', '21.28%', '152.39'], ['1071570', '1306721', '5375', '5375', '5350', ' 60 months', '12.69%', '121.45'], ['1070078', '1305201', '6500', '6500', '6500', ' 60 months', '14.65%', '153.45'], ['1069908', '1305008', '12000', '12000', '12000', ' 36 months', '12.69%', '402.54'], ['1064687', '1298717', '9000', '9000', '9000', ' 36 months', '13.49%', '305.38']]

# Tuple Based Practice Problem :

In [57]:
# 1. Create a tuple with integers from 1 to 5.

tp=(1,2,3,4,5)
print(tp)
# or
tp=tuple(range(1,6))
print(tp)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [58]:
# 2. Access the third element of a tuple.

tp=(1,2,3,4,5)
print(tp[2])

3

In [59]:
# 3. Find the length of a tuple without using the `len()` function.

tp=(1,2,3,4,5)
print(len(tp))

5

In [61]:
# 4. Count the occurrences of an element in a tuple.

tp=(1,2,3,4,5)
print(tp.count(3))

1

In [62]:
# 5. Find the index of the first occurrence of an element in a tuple.

tp=(1,2,3,4,5)
print(tp.index(3))

2

In [63]:
# 6. Check if an element exists in a tuple.


tp=(1,2,3,4,5)
val=4

x= "Value Exists" if val in tp else "Value not Exist"

print(x)

Value Exists

In [64]:
# 7. Convert a tuple to a list.

tp=(1,2,3,4,5)
print(list(tp))

[1, 2, 3, 4, 5]

In [65]:
# 8. Convert a list to a tuple.

lt=[1,2,3,4,5]
print(tuple(lt))

(1, 2, 3, 4, 5)

In [66]:
# 9. Unpack the elements of a tuple into variables

a,b,c,d,e=(1,2,3,4,5)

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [67]:
# 10. Create a tuple of even numbers from 1 to 10.

tp=tuple(range(2,11,2))

print(tp)

(2, 4, 6, 8, 10)

In [68]:
# 11. Create a tuple of odd numbers from 1 to 10.


tp=tuple(range(1,11,2))

print(tp)

(1, 3, 5, 7, 9)

In [69]:
# 12. Concatenate two tuples.

tp1=tuple(range(2,11,2))
tp2=tuple(range(1,11,2))

print(tp1+tp2)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [70]:
# 13. Repeat a tuple three times.

tp1=tuple(range(2,11,2))

print(tp1*3)

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

In [71]:
# 14. Check if a tuple is empty.

tp1=tuple(range(2,11,2))
if len(tp1)==0:
    print("Tuple is empty")
else:
    print("Not Empty ")

Not Empty

In [73]:
# 15. Create a nested tuple.

tp=((1,2,3,6),(3,4,5))

print(tp)

((1, 2, 3, 6), (3, 4, 5))

In [75]:
#16. Access the first element of a nested tuple.

tp=((1,2,3,6),(3,4,5))

print(tp[0][0])

1

In [76]:
# 17. Create a tuple with a single element.

tp=(1,)

print(tp)

(1,)

In [87]:
# 18. Compare two tuples.

tp1=tuple(range(2,11,2))
tp2=tuple(range(2,11,2))

if tp1 == tp2:
    print("Equal")
else:
    print("Not Equal")

Equal

In [89]:
# 19. Delete a tuple.


tp1=tuple(range(2,11,2))

del tp1

In [90]:
# 20. Slice a tuple.

tp1=tuple(range(2,11,2))

print(tp1[1:5])

(4, 6, 8, 10)

In [91]:
# 21. Find the maximum value in a tuple.

tp1=tuple(range(2,11,2))

print(max(tp1))

10

In [92]:
# 22. Find the minimum value in a tuple.

tp1=tuple(range(2,11,2))

print(min(tp1))

2

In [93]:
# 23. Convert a string to a tuple of characters.

txt="Vikas"

tp=tuple(txt)

print(tp)

('V', 'i', 'k', 'a', 's')

In [94]:
# 24. Convert a tuple of characters to a string.

tp=("V","i","k","a","s")

txt="".join(tp)

print(txt)

Vikas

In [95]:
# 25. Create a tuple from multiple data types.

tp=(1,2,"singh",5.6)

print(tp)

(1, 2, 'singh', 5.6)

In [96]:
# 26. Check if two tuples are identical.


tp1=tuple(range(2,11,2))
tp2=tuple(range(2,11,2))

if tp1 == tp2:
    print("Identical")
else:
    print("Not Identical")

Identical

In [99]:
# 27. Sort the elements of a tuple.

tp=(1,5,7,9,2,3,7,4)

print(sorted(tp))
print(tp)

[1, 2, 3, 4, 5, 7, 7, 9]
(1, 5, 7, 9, 2, 3, 7, 4)

In [101]:
# 28. Convert a tuple of characters to a string.

tp=(1,5,7,9,2,3,7,4)

x=tuple([str(i) for i in tp])

print(x)

('1', '5', '7', '9', '2', '3', '7', '4')

In [102]:
# 29. Convert a tuple of strings to a tuple of integers.

tp=('1','5','7','9','2','3','7','4')

x=tuple([int(i) for i in tp])

print(x)

(1, 5, 7, 9, 2, 3, 7, 4)

In [103]:
# 30. Merge two tuples.


tp1=tuple(range(2,11,2))
tp2=tuple(range(2,11,2))

print(tp1+tp2)

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

In [107]:
# 31. Flatten a nested tuple.

tp=((1,2,3,4),(5,6,7,9))
x=[]

for i in tp:
    x.extend(list(i))

tp=tuple(x)

print(tp)

(1, 2, 3, 4, 5, 6, 7, 9)

In [108]:
# 32. Create a tuple of the first 5 prime numbers.

lt=[]

for i in range(1,50):
    x=0
    for j in range(2,i//2+1):
        if i%j==0:
            x=1
    if x==0:
        lt.append(i)
    if len(lt)==5:
        break
print(tuple(lt))

(1, 2, 3, 5, 7)

In [110]:
# 33. Check if a tuple is a palindrome.

tp=(1,3,5,3,1)
x=tp[::-1]

if x==tp:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [112]:
# 34. Create a tuple of squares of numbers from 1 to 5.

lt=[]
for i in range(1,6):
    lt.append(i*i)

print(tuple(lt))

(1, 4, 9, 16, 25)

In [113]:
# 35. Filter out all even numbers from a tuple.

tp=(1,2,3,4,5,6,7,8,9)

for i in tp:
    if i%2==0:
        print(i)

2
4
6
8

In [120]:
# 36. Multiply all elements in a tuple by 2.

tp=(1,2,3,4,5,6,7,8,9)

tp=tuple(map(lambda x:x*x,tp))
print(tp)

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [128]:
# 37. Create a tuple of random numbers.

import random

tp=[]
for i in range(1,11):
    tp.append(random.random())

print(tuple(tp))

(0.7758975976380151, 0.7498300886991415, 0.032662474758308746, 0.27223795396711714, 0.9911646933109169, 0.2919413769054766, 0.4348570670428191, 0.4989468093991031, 0.21244155107027518, 0.3915797676923287)

In [137]:
# 38. Check if a tuple is sorted.

tp=(1,2,3,4,5,6,7,8,9)
x=tuple(sorted(tp))
if tp==x:
    print("sorted")
else:
    print("Not Sorted")

sorted

In [139]:
# 39. Rotate a tuple to the left by `n` positions.

tp=(1,2,3,4,5,6,7,8,9)

n=3


lt=tp[n:]+tp[:n]

print(tuple(lt))

(4, 5, 6, 7, 8, 9, 1, 2, 3)

In [141]:
# 40. Rotate a tuple to the right by `n` positions.

tp=(1,2,3,4,5,6,7,8,9)

n=3


lt=tp[len(tp)-n:]+tp[:len(tp)-n]

print(tuple(lt))

(7, 8, 9, 1, 2, 3, 4, 5, 6)

In [142]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

lt=[]
f=0
s=1
for i in range(1,6):
    lt.append(f)
    t=f+s
    f=s
    s=t
    
print(tuple(lt))

(0, 1, 1, 2, 3)

In [147]:
# 42. Create a tuple from user input.

x=[]
n=5
for i in range(1,n+1):
    val=int(input("Enter a value "))
    x.append(val)

print(tuple(x))

Enter a value  1
Enter a value  2
Enter a value  3
Enter a value  4
Enter a value  5

(1, 2, 3, 4, 5)

In [149]:
# 43. Swap two elements in a tuple.

tp=(1,2,3,4,5,6,7,8,9)

lt=list(tp)

lt[2],lt[5]=lt[5],lt[2]

print(tuple(lt))

(1, 2, 6, 4, 5, 3, 7, 8, 9)

In [150]:
# 44. Reverse the elements of a tuple.

tp=(1,2,3,4,5,6,7,8,9)

tp=tuple(list(tp)[::-1])

print(tp)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [151]:
# 45. Create a tuple of the first `n` powers of 2.


lt=[]
n=5

for i in range(1,n+1):
    lt.append(2**i)


print(tuple(lt))

(2, 4, 8, 16, 32)

In [153]:
# 46. Find the longest string in a tuple of strings.

tp=("Singh","vikas","ram","Arjun","Python")

lt=list(tp)

print(max(tp,key=len))

Python

In [154]:
# 47. Find the shortest string in a tuple of strings.

tp=("Singh","vikas","ram","Arjun","Python")

lt=list(tp)

print(min(tp,key=len))

ram

In [155]:
# 48. Create a tuple of the first `n` triangular numbers.

j = 1
k = 1
n=5
for i in range(1, n + 1):
    print(k, end = ' ')
    j = j + 1 
    k = k + j

1 3 6 10 15

In [166]:
# 49. Check if a tuple contains another tuple as a subsequence.

tp=((1,2,3,4),2,3,4,5,6)
x=0
print(type(tp[0]))
for i in tp:
    if type(i)==type(tuple()):
        x=1
        break
if x==1:
    print("It Contains Tuple ")
else:
    print("It is not Containing tuple")

<class 'tuple'>
It Contains Tuple

In [168]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n=10
lt=[]

for i in range(1,n+1):
    if i%2==0:
        lt.append(1)
    else:
        lt.append(0)
print(tuple(lt))

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

In [1]:
# 1. Create a set with integers from 1 to 5.

a={1,2,3,4,5}

print(a)

{1, 2, 3, 4, 5}

In [4]:
# 2. Create a set with integers from 1 to 5.

a={1,2,3,4,5}
a.add(450)
print(a)

{1, 2, 3, 4, 5, 450}

In [5]:
# 3. Remove an element from a set.

a={1,2,3,4,5}
a.remove(4)
print(a)

{1, 2, 3, 5}

In [6]:
# 4. Remove an element from a set.

a={1,2,3,4,5}
a.remove(4)
print(a)

{1, 2, 3, 5}

In [7]:
# 4. Check if an element exists in a set.

a={1,2,3,4,5}

print(3 in a)

True

In [9]:
# 5. Find the length of a set without using the `len()` function.

a={1,2,3,4,5}

count=0
for i in a:
    count=count+1
print("length of set is = ",count)

length of set is =  5

In [10]:
# 6. Clear all elements from a set.

a={1,2,3,4,5}
print(a.clear())

None

In [12]:
# 7. Create a set of even numbers from 1 to 10.

s=set(range(2,11,2))

print(s)

{2, 4, 6, 8, 10}

In [13]:
# 8. Create a set of odd numbers from 1 to 10.

s=set(range(1,11,2))

print(s)

{1, 3, 5, 7, 9}

In [14]:
# 9. Find the union of two sets.

s1={1,2,3,4,5}
s2={5,6,7,8,9}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# 10. Find the intersection of two sets.

s1={1,2,3,4,5}
s2={5,6,7,8,9}

s1.intersection(s2)

{5}

In [16]:
# 11. Find the difference between two sets

s1={1,2,3,4,5}
s2={5,6,7,8,9}

s1.difference(s2)

{1, 2, 3, 4}

In [19]:
# 12. Check if a set is a subset of another set.

s1={1,2,3,4,5}
s2={2,3,5}

print(s2.issubset(s1))

True

In [20]:
# 13. Check if a set is a superset of another set.

s1={1,2,3,4,5}
s2={2,3,5}

print(s1.issuperset(s2))

True

In [22]:
# 14. Create a set from a list.

lt=[1,2,3,5,4,5]

s=set(lt)

print(s)

{1, 2, 3, 4, 5}

In [26]:
# 15. Convert a set to a list.

s={1,2,3,5,4}

lt=list(sT)

print(lt)

[1, 2, 3, 4, 5]

In [27]:
# 16. Remove a random element from a set.

s={1,2,3,5,4}


x=s.pop()

print(x)

1

In [28]:
# 17. Pop an element from a set.

s={1,2,3,5,4}


x=s.pop()

print(x)

1

In [30]:
# 18. Check if two sets have no elements in common.


s1={1,2,3,5,4}
s2={8,9,0,6}

print(s1.isdisjoint(s2))

True

In [32]:
# 19. Find the symmetric difference between two sets.

s1={1,2,3,5,4}
s2={8,9,0,6,4}

s1.symmetric_difference(s2)

{0, 1, 2, 3, 5, 6, 8, 9}

In [34]:
# 20. Update a set with elements from another set.

s1={1,2,3,5,4}
s2={8,9,0,6,4}

s1.update(s2)
print(s1)

{0, 1, 2, 3, 4, 5, 6, 8, 9}

In [4]:
# 21. Create a set of the first 5 prime numbers.

st=set()
for i in range(1,100):
    x=0
    for j in range(2,i//2+1):
        if i%j==0:
            x=1
            break
    if x==0:
        st.add(i)
        if len(st)==5:
            break

print(st)

{1, 2, 3, 5, 7}

In [5]:
# 22. Check if two sets are identical.

s1={1,2,3,4,5}
s2={2,3,4,5}

if s1==s2:
    print("identical set")
else:
    print("Not identical")

Not identical

In [7]:
# 23 23. Create a frozen set.

st={1,2,3,4,5}

fst=frozenset(st)

print(fst)

frozenset({1, 2, 3, 4, 5})

In [8]:
# 24. Check if a set is disjoint with another set.

s1={1,2,3,4,5}
s2={2,3,4,5}

print(s1.isdisjoint(s2))

False

In [9]:
# 25. Create a set of squares of numbers from 1 to 5.

st=set()

for i in range(1,6):
    st.add(i*i)
print(st)

{1, 4, 9, 16, 25}

In [11]:
# 26. Filter out all even numbers from a set.

s={1,2,3,4,5,6,7,8,9,10}

for i in s:
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10

In [13]:
# 27. Multiply all elements in a set by 2.

st={1,2,3,4,5,6}

st= [x*2 for x in st]

st

[2, 4, 6, 8, 10, 12]

In [27]:
# 28. Create a set of random numbers.

import random
st=set()

for i in range(1,6):
    st.add(random.randint(1,10))
print(st)

{1, 2, 6, 8, 9}

In [28]:
# 29. Check if a set is empty.

st={1,2,3,4,5,6}

if len(st)==0:
    print("Empty")
else:
    print("Not Empty")

Not Empty

In [40]:
# 30. Create a nested set (hint: use frozenset).

st=set([frozenset([1,2,3]),frozenset([3,5,6])])

st

{frozenset({1, 2, 3}), frozenset({3, 5, 6})}

In [42]:
# 31. Remove an element from a set using the discard method.

st={1,2,3,4,5,6}

st.discard(5)
st

{1, 2, 3, 4, 6}

In [44]:
# 32. Compare two sets
st1={1,2,3,4,5,6}
st2={1,2,3,4,5,6}

if st1==st2:
    print("Equal")
else:
    print("Not Equal")

Equal

In [45]:
# 33. Create a set from a string.
s="hello"

st=set(s)

print(st)

{'h', 'l', 'e', 'o'}

In [48]:
# 34. Convert a set of strings to a set of integers

st={'1','2','3','4','5','6','7'}
res=set([eval(i) for i in st])

res

{1, 2, 3, 4, 5, 6, 7}

In [49]:
# 35. Convert a set of integers to a set of strings.

st={1,2,3,4,5,6,7,8,9}

res=set([str(i) for i in st])

res

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [50]:
# 36. Create a set from a tuple.

tp=(1,2,3,4,5,6,7,8)

res=set(tp)

res

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
# 37. Convert a set to a tuple.

st={1,2,3,4,5,6}

tp=tuple(st)

tp

(1, 2, 3, 4, 5, 6)

In [52]:
# 38. Find the maximum value in a set.

st={1,2,3,4,5,6,7}

mx=max(st)

mx

7

In [54]:
# 39. Find the maximum value in a set.

st={1,2,3,4,5,6,7}

mn=min(st)

mn

1

In [1]:
# 40. Create a set from user input.

st=set()

n=int(input("Enter limit : "))

for i in range(1,n+1): 
    x=int(input("Enter the Values : ")) 
    st.add(x)

st

Enter limit :  5
Enter the Values :  1
Enter the Values :  2
Enter the Values :  3
Enter the Values :  4
Enter the Values :  5

{1, 2, 3, 4, 5}

In [4]:
# 41. Check if the intersection of two sets is empty.

st1={1,2,3,4,5,6}
st2={1,2,3,4,5,6}

if len(set(st1.intersection(st2)))==0:
    print("Intersection is Empty ")
else:
    print("Intersection is not empty ")

Intersection is not empty

In [15]:
# 42. Create a set of the first 5 Fibonacci numbers.

st=[]
first=1
second=1
for i in range(1,7):
    st.append(first)
    third=first+second
    first=second
    second=third
print(set(st))

{1, 2, 3, 5, 8}

In [16]:
# 43. Remove duplicates from a list using sets.

lt=[1,2,3,4,5,6,5,6,7,4,2,3]

print(set(lt))

{1, 2, 3, 4, 5, 6, 7}

In [23]:
# 44. Check if two sets have the same elements, regardless of their count.


st1={1,2,3,4,5,6}
st2={1,2,3,4,5,6}

if st1==st2:
    print("sets have same elements")
else:
    print("sets have no same elements")

sets have same elements

In [31]:
# 45 Create a set of the first `n` powers of 2.

n=5

st=[]

for i in range(1,10+1):
    x=2**i
    st.append(x)
print(set(st))

{32, 64, 2, 128, 4, 256, 512, 1024, 8, 16}

In [33]:
# 46. Find the common elements between a set and a list.

st1={1,2,3,4,5,6}
st2={4,5,6,7,8,9}


print(st1.intersection(st2))

{4, 5, 6}

In [38]:
# 47. . Create a set of the first `n` triangular numbers.

n=5
st=[]
for i in range(1,5+1):
    x=1/2*i*(i+1)
    st.append(int(x))

print(set(st))

{1, 3, 6, 10, 15}

In [42]:
# 48. Check if a set contains another set as a subset.

st1={1,2,3,4}
st2={1,2}


print(st2.issubset(st1))

True

In [43]:
# 49. Create a set of alternating 1s and 0s of length `n`.

# we can not create alternating 1 and 0s of length n because in set we can not store duplicate values.. we can do it in list or tuple

In [47]:
# 50. Merge multiple sets into one.

st1={1,2,3,4}
st2={5,6,7,8}

print(st1.union(st2))    # using union
st1.update(st2)         # using update

print(st1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}